@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600&display=swap');
bady{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/*Header Section*/
.header{
    background-color: antiquewhite;  
    display: flex;
    align-items: center;
}
.head-continer{
    padding:70px 40px;    
}
.head-content{
    padding: 60px;
}
.head-title{
    font-size:40px;
  
}
.head-des{
    padding-top: 20px;
}
.head-img{
    width:400px ;
   margin-left: 400px;
   margin-top: 50px;
   padding-top: 20px;  
}
.btn-primary{
    background: #FD6E0A;
    border: 0;
    border-radius: 4px;
    font-size: 10px;
    color: white;
    padding: 10px 18px;
    margin-top: 20px;
    
}
.feature{
    text-align: center;
    margin: 60px;
}
.fea-des{
    margin: 10px;
    font-size: 10px;
    
}